################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/NIR/bin
/NIR/bin/Debug
/NIR/bin/Release
/NIR/obj
/NIR/obj/Debug
/NIR/obj/Release
